 <div class="wrapper">
        <div class="content">
            <header>
                <div class="container">
                    <div class="header-wrapper">
                        <div class="logo">{{online}}bestCoffee</div>
                        <ul class="navigation">
                            <li><a href="../controller/C_catalog.php">Главная</a></li>
                            <li><a href="../controller/C_basket.php">Корзина</a></li>
                            <li><a href="../controller/C_cabinet.php">Личный кабинет</a></li>
                            <li><a href="{{link}}" class="cat-but">{{str}}</a></li>
                        </ul>
                    </div>
                </div>
            </header>
